<meta property="og:url"           content="http://localhost:3000/" />
 <meta property="og:type"          content="website" />
 <meta property="og:title"         content="Lambtown" />
 <meta property="og:description"   content="Return of the Lamb" />
 <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email  %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div class="fb-share-button" data-href="http://google.com" data-layout="button" data-size="large" data-mobile-iframe="true">
<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>


<%= render 'comments/form', comment: @comment %>

<% @comments.each do |comment| %>
<p><%= comment.user.email %></p>
<p><%= comment.content %></p>
<% end %>


<%= social_share_button_tag %>
