<!DOCTYPE html>
<html>
  <head>
    <title>Omniauth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta property="og:url"           content="http://localhost:3000/" />
     <meta property="og:type"          content="website" />
     <meta property="og:title"         content="Lambtown" />
     <meta property="og:description"   content="Return of the Lamb" />
     <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />


  </head>

  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=254403598362943";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <% if user_signed_in? %>
      <% current_user.inspect %>
    <% else %>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <% end %>

    <%= render 'layouts/nav' %>

    <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
